
.fileplayer {
  position: fixed;
  bottom: 0;
  right: calc(40px - 100%);
  width: 100%;
  background: #2b323a;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1005;
  display: flex;
  transition: right 150ms ease;

  &.fileplayer--expanded {
    right: 0;
  }

  .fileplayer-buttons {
    width: 40px;
    padding: 5px;

    .fileplayer-buttons-closeButton {
      @extend %fileplayerButton;
    }

    .fileplayer-buttons-expandButton {
      @extend %fileplayerButton;
    }
  }

  .fileplayer-content {
    padding: 5px;
  }
}

%fileplayerButton {
  border: none;
  background: none;
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 8px;
  outline: none;
  color: rgba(255, 255, 255, 0.65);
  font-size: 18px;

  i {
    cursor: pointer;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}
