
.fileplayer {
  position: fixed;
  bottom: 0;
  right: -325px;
  width: 360px;
  background: #fff;
  color: #000;
  z-index: 1005;
  display: flex;
  transition: right 150ms ease;
  border-top: 1px solid #f2f3f3;
  border-left: 1px solid #f2f3f3;

  &.fileplayer--expanded {
    right: 0;
  }

  .fileplayer-buttons {
    width: 40px;
    padding: 5px;

    .fileplayer-buttons-closeButton {
      @extend %fileplayerButton;
    }

    .fileplayer-buttons-expandButton {
      @extend %fileplayerButton;
    }
  }

  .fileplayer-content {
    padding: 5px;
  }
}

%fileplayerButton {
  border: #f2f3f3;
  background: #f2f3f3;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  outline: none;

  i {
    cursor: pointer;
  }

  &:hover {
    background: #dfe1e1;
  }
}
