.InputLocalDateTime {
  * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
  }
  &__date,
  &__time,
  &__seconds,
  &__separator {
    box-sizing: border-box;
  }
  &__separator {
    height: 48px;
    line-height: 48px;
    text-align: center;
  }
}
