.MetadataFormWidget {
  &__inputGroup {
    float: none;
    .form-control[disabled] {
      cursor: not-allowed !important;
    }
  }

  &__textareaGroup {
    float: none;

    .form-control {
      resize: none;
      max-height: 500px;

      &:disabled {
        cursor: not-allowed !important;
      }
    }
  }

  &__checkbox {
    display: table-cell;
    width: 1%;
    text-align: center;
  }
}
