.ScheduleWeeklyWidget {
  .ScheduleWeeklyWidget-Table-item-ellipsed {
    height: 30px;
    width: 130px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 37px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
