.ScheduleItemModal {
  &__input--readOnly {
    cursor: not-allowed !important;
  }

  &__toggle {
    transition: all 0.1s linear;
    font-size: 1.4em;
  }

  &__toggle {
    transform: rotate(90deg);
  }

  &__toggleButton {
    width: inherit;
  }

  &__optionalInputDivider {
    margin: 15px 0;
  }

  .collapsed &__toggle {
    transform: rotate(0deg);
  }
}
