.TrackList {
  position: relative;
  background-color: gray;
  overflow: hidden;

  &__tracks {
    position: relative;
    &__line {
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      pointer-events: none;
    }
  }
  &__timeBar {
    height: 20px;
  }
  &__time {
    position: absolute;
    top: 0;
    left: 0;

    border-left: 1px solid black;
    padding-left: 5px;

    height: 20px;
    line-height: 20px;
    font-size: 12px;

    pointer-events: none;
  }
}
