.Stats {
  width:100%;
  box-sizing: border-box;

  .Stats-header {
    width:100%;
    display: flex;
    flex-flow: row;

    @media(max-width: 800px) {
      display: block;
    }

    .Stats-datePicker {
      display:block;
      padding: 10px;
    }
    .Stats-chart {
      height:300px;
      flex:1;
      padding: 10px;
    }
  }
}
