.header-nav-breadcrumb-label {
  font-family: Roboto;
  font-size: 145%;
  text-transform: uppercase;
  margin-left: 0.5ex;
}


.header-nav-breadcrumb-separator {
  margin-left: 0.5ex;
}

.btn i.mdi + span {
  margin-left: 1ex;
}

.alert {
  a {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 1ex;
    margin-right: 1ex;
  }

  &.alert-slim {
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
  }
}
