.header-nav-breadcrumb-label {
  font-family: Roboto;
  font-size: 145%;
  text-transform: uppercase;
  margin-left: 0.5ex;
}


.header-nav-breadcrumb-separator {
  margin-left: 0.5ex;
}

.btn i.mdi + span {
  margin-left: 1ex;
}
