/* Disable selecting text */
* {
  touch-callout: none;
  user-select: none;
}


/* Display hand icon only on active elements */
:not(a), :not(.btn) {
  cursor: default;
}

a:not(:disabled), a:not(:disabled) *, .btn:not(:disabled), .btn:not(:disabled) * {
  cursor: pointer !important;
}

a:disabled, a:disabled *, .btn:disabled, .btn:disabled * {
  cursor: not-allowed !important;
}

input, textarea {
  cursor: text !important;
}

select, input[type=radio], input[type=checkbox] {
  cursor: pointer !important;
}


/* Top bar */
.headerbar {
  .header-nav-breadcrumb-label {
    font-family: Roboto;
    font-size: 145%;
    text-transform: uppercase;
    margin-left: 0.5ex;
  }


  .header-nav-breadcrumb-separator {
    margin-left: 0.5ex;
  }

  .visibility-toggle {
    margin-left: -10px;
    margin-right: 12px;
  }
}


/* Menu bar */
#menubar {
  overflow-x: hidden;
}


#menubar {
  .pin-toggle {
    position: fixed;
    top: 74px;
    left: 200px;
    z-index: 1000;
    display: none;
  }
}

@media (min-width: 992px) {
  body:not(.menubar-visible), body:not(.menubar-pin) {
    #menubar {
      .pin-toggle {
        display: none;
      }
    }
  }


  body.menubar-visible, body.menubar-pin {
    #menubar {
      .pin-toggle-off {
        color: #fff;
      }
    }
  }

  body.menubar-pin {
    #menubar {
      .pin-toggle-on {
        display: none;
      }

      .pin-toggle-off {
        display: block;
      }
    }
  }

  body:not(.menubar-pin).menubar-visible {
    #menubar {
      .pin-toggle-on {
        display: block;
      }

      .pin-toggle-off {
        display: none;
      }
    }
  }
}



body:not(.menubar-visible) {
  #menubar {
    li.gui-folder.expanded > ul {
      max-height: 0;
      opacity: 0;
      transition: all 0.5s;
    }
  }
}

body.menubar-visible, body.menubar-pin {
  #menubar {
    li.gui-folder.expanded > ul {
      max-height: 100px;
      opacity: 1;
      transition: all 0.5s;
    }
  }
}



/* TableBrowserWidget FIXME move to widget's css */

.btn i.mdi + span {
  margin-left: 1ex;
}

/* Alerts FIXME move to widget's css */
.alert {
  a {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 1ex;
    margin-right: 1ex;
  }

  &.alert-slim {
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
  }
}
