
.Dj-GoLive-indexView {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 128px);

  @media screen and (min-width: 992px) {
    height: calc(100vh - 64px);
  }

  iframe {
    flex: 1;
    border: none;
  }
}
