.widgets-admin-schedule-daily--container {
  tr {
    transition: all 0.5s;

    &.expanded {
      height: 400px;

      a.toggle-on {
        display: none;
      }
    }

    &:not(.expanded) {
      height: auto;

      a.toggle-off {
        display: none;
      }
    }

    &.past {
      color: #999;
    }

    &.current {
      background: yellow;
    }
  }


  td.expand-toggle {
    width: 1ex;
  }

  td.hour {
    width: 3ex;
  }

  td.items {
    position: relative;

    div.item {
      background: red;
      left: 12px;
      right: 12px;
      position: absolute;
      min-height: 1px;
    }
  }
}
