.ScheduleDailyWidget {
  $ellipsed-line-height: 37px;
  $calendar-row-items-height: 40px;

  &-CalendarRow {
    transition: all 0.5s;
    height: auto;

    &--expanded {
    }

    &--expanded-cell {
      vertical-align: top;
    }

    &--past {
      color: #999;
    }

    &--current {
      background: yellow;
    }


    &-item {
      box-sizing: border-box;
      width: 100%;
      min-height: 1px;
      max-height: 27px;
      left: 12px;
      right: 12px;
      padding: 4px;
      margin: 1px;

      transition: background 0.2s ease;
      background: orange;
      color: black;
      text-align: left;
      text-transform: none;

      &--active {
        //padding: 1px;
        //border: solid 3px orange;
        background: yellow;
      }
    }

    &-silence {
      background: transparent;
      color: gray;
    }

    &-item-ellipsed {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      line-height: $ellipsed-line-height;
      padding-left: 5px;
      padding-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-item-expanded {
      min-height: 50px;
    }

    &-item-expanded-list {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  .ScheduleDailyWidget-CalendarRow-currentTime {
    position: absolute;
    left:0;
    right:0;
    background-color: red;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .ScheduleDailyWidget-CalendarRow-expandToggle {
    vertical-align: top;
    width: 1ex;
  }

  .ScheduleDailyWidget-CalendarRow-hour {
    vertical-align: top;
    width: 3ex;
  }

  .ScheduleDailyWidget-CalendarRow-items {
    position: relative;
    height: $calendar-row-items-height;
    padding-top: 3px;
  }
}
