.ScheduleDailyWidget {
  $ellipsed-line-height: 37px;
  $calendar-row-items-height: 40px;
  .ScheduleDailyWidget-CalendarRow {
    transition: all 0.5s;
    height: auto;

    &.ScheduleDailyWidget-CalendarRow--expanded {
    }

    &.ScheduleDailyWidget-CalendarRow--expanded-cell {
      vertical-align: top;
    }

    &.ScheduleDailyWidget-CalendarRow--past {
      color: #999;
    }

    &.ScheduleDailyWidget-CalendarRow--current {
      background: yellow;
    }
  }

  .ScheduleDailyWidget-CalendarRow-currentTime {
    position: absolute;
    left:0;
    right:0;
    background-color: red;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .ScheduleDailyWidget-CalendarRow-expandToggle {
    vertical-align: top;
    width: 1ex;
  }

  .ScheduleDailyWidget-CalendarRow-hour {
    vertical-align: top;
    width: 3ex;
  }

  .ScheduleDailyWidget-CalendarRow-items {
    position: relative;
    height: $calendar-row-items-height;

    .ScheduleDailyWidget-CalendarRow-item {
      background: orange;
      left: 12px;
      right: 12px;
      min-height: 1px;
      padding: 4px;
      margin: 1px;
    }

    .ScheduleDailyWidget-CalendarRow-item-active {
      background: yellow;
      left: 12px;
      right: 12px;
      min-height: 1px;
      padding: 4px;
      border: solid 3px;
      box-sizing: border-box;
    }

    .ScheduleDailyWidget-CalendarRow-item-ellipsed {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      line-height: $ellipsed-line-height;
      padding-left: 5px;
      padding-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ScheduleDailyWidget-CalendarRow-item-expanded {
      min-height: 50px;
    }

    .ScheduleDailyWidget-CalendarRow-item-expanded-list {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }
}
