.AutoDJShuffleInput {

  display: flex;
  align-items: center;

  &__tag {
    width: 45%;
    margin-right: 15px;
  }
  &__ratio {
    float: left;
    width: 45%;
    display: flex;

    &__input {
      flex: 1;
    }
    &__value {
      margin-left: 5px;
      width: 20%;
    }
  }
  &__controls {
    flex: 1;
  }
}
