.ShowSidebarPartial {

  .ShowSidebarPartial__allTags {

    header {
      margin-left: 20px;
      font-size: 17px;
    }

    &--selected{

      @extend .ShowSidebarPartial__allTags;
      background-color: #1e587b;
      color: white;
      border-bottom: 1px solid white;
    }
  }

  .card-head-sm {
      padding-left: 36px;
  }

  .ShowSidebarPartial__tag {

    header{
      font-size: 14px;
      padding: 7px;
    }

    background-color: #f2f2f2;
    &--selected{
      @extend .ShowSidebarPartial__tag;
      background-color: #297bac;
      color: white;
      border-bottom: 1px solid white;
    }
  }

  .ShowSidebarPartial__editMetadataButton {
    position: absolute;
    top: 25%;
    right: 0;
  }

  .ShowSidebarPartial__category{

    header{
      font-size: 17px;
      padding: 7px;
    }

    .mdi-chevron-right {
      transition: all 0.1s linear;
      font-size: 1.4em;
    }

    .mdi-chevron-right {
      transform: rotate(90deg);
    }

    .collapsed  .mdi-chevron-right {
      transform: rotate(0deg);
    }

    .card-head-sm {
      padding-left: 36px;
      background-color: #f2f2f2;
    }

    &--selected{
      @extend .ShowSidebarPartial__category;
      background-color: #1e587b;
      color: white;
      border-bottom: 1px solid white;
    }
  }
}
