.ShowSidebarPartial {

  .allTags {
    padding-left: 36px;
    &--selected{
      padding-left: 36px;
      background-color: #1e587b;
      color: white;
      border-bottom: 1px solid white;
    }
  }

  .card-head-sm {
      padding-left: 36px;
  }
  .tag {

    background-color: #f2f2f2;
    &--selected{
      background-color: #297bac;
      color: white;
      border-bottom: 1px solid white;
    }
  }
  .category{
    &--selected{
      background-color: #1e587b;
      color: white;
      border-bottom: 1px solid white;
    }
  }
}
