.react-autosuggest__container{}
.react-autosuggest__container{}
.react-autosuggest__container--open{}
.react-autosuggest__input{
  display: block;
  width: 100%;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  height: 37px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: rgba(12, 12, 12, 0.12);
  background: transparent;
  color: #0c0c0c;
  font-size: 16px;
  box-shadow: none;
  list-style: none;
  font-size: 13px;
  text-align: left;
}
.react-autosuggest__suggestions-container{
  direction: ltr;
  float: left;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-clip: padding-box;
}
.react-autosuggest__suggestion{
  margin: 0 0 4px;
  letter-spacing: 0.1px;
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
},
.react-autosuggest__section-container{}
.react-autosuggest__section-title{}
.react-autosuggest__section-suggestions-container{}
.react-autosuggest__suggestion--focused {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #1e587b;
}

