$track-color: #e5e6e6;
$thumb-color: #0aa89e;

$thumb-radius: 8px;
$thumb-height: 16px;
$thumb-width: 16px;

$track-width: 100%;
$track-height: 2px;

$track-radius: 0px;
$contrast: 5%;

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
}

@mixin thumb() {
  margin-left: -8px;
  width: $thumb-width;
  height: $thumb-height;
  border-color: transparent;
  border-radius: 50%;
  background: $thumb-color;
  position: relative;
  bottom: 7px;
  cursor: pointer;
}

[type=range] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
  }

  &:hover::-webkit-slider-thumb {
    -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    outline: none;
    -webkit-box-shadow: 0px 0px 0px 7px rgba(10, 168, 158, 0.2);
    box-shadow: 0px 0px 0px 7px rgba(10, 168, 158, 0.2);
  }

  &:active::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    bottom: 9px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;

  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    background: $track-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}
