.FormWidget {

  &__label {
    line-height: 0;
  }

  &__hint {
    position: initial;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .separator {
    width: 97%;
    margin: 35px 0 35px 0;
  }
}
